*{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	height: 150px;
	left: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	display: block;
	margin: 0;
	z-index: 1;

}

.nav{
	margin-left: 5;
	margin-right: 15;
	border-radius: 5px;
	padding: 1;
	
}

.page-header{

	margin-top: 10;
	margin-left: 10;
	margin-right: 10;
	margin-bottom: 10;
	padding: 5;
	background: #0F0F0F ;
	border-color:#0F0F0F;
    border-radius: 25px;
    color: white;
    text-align: center;

}

body{
	padding-top: 150px;

	background: linear-gradient(#242424, #575757, #242424);
}

div{
	color: black;
}

div#izquierda , div#seccion {
	font-size: 20;
}

div#izquierda{
	top:2%;
	overflow: hidden;
}

footer{
	color: black;
	background: white;
	width: 100%;
	height: 30;
	position: fixed;
	bottom: 0px;

}

.panel{
	color : #2CAE00;
	background-color:transparent;
	border-color: transparent;
	font-size: 20;
	text-align: center; 
}

/*
div#izquierda{
	color: black;
	float: left;
	margin-left: 10;
	top: 20%;
	width: 25%;
	overflow: visible;
}

div#contenido{
	color: black;
	overflow: hidden;
	top: 20%;
	width: 70%;
	height: 100%;
	left: 35%;
	float: right;

}

div#experiencia{
	color: black;
	overflow: hidden;
	top: 20%;
	width: 100%;
	height: 100%;
	left: 10%;
	float: right;
}

div#conocimientos{
	color: black;
	overflow: hidden;
	top: 20%;
	width: 100%;
	height: 90%;
	left: 10%;
	float: right;
}

div#otros{
	color: black;
	overflow: hidden;
	top: 20%;
	width: 100%;
	height: 90%;
	left: 10%;
	float: right;

}
